/*style headers*/
h1, h2 {
    background-color:bisque;
    font-family: 'Times New Roman', Times, serif;
}


/*style table*/
table{
    background-color:rgb(218, 185, 160);

}

li {
    font-size:medium;
    list-style:upper-roman;
    font-family: 'Times New Roman', Times, serif;
    
}


/*style inside table*/
tr, td {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;



}